
.alert-success {
color: #155724;
background-color: #bcf1ba;
border-color: #85eb9c;
}
.bg-dark {
background-color:#000000!important;
}
.navbar-dark .navbar-nav .nav-link {
color:#f8f9fa;
}


.button {
border: none;
color:rgb(255, 255, 255);
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 35px;
cursor: pointer;
float: right;
}

.button1 {background-color:#1c299c;}

footer{
background-color:#0c0b0b;
color: #030303;
width: auto;
color: white;
padding: 1px;
height: 10%;
margin-top: 90px;
}
